@import "../variables";

.club-card {
  text-align: center;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 15px;
  height: 100%;
  font-size: 13px;
  line-height: 19px;

  &__img {
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
  }

  &__title {
    display: block;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 55px;
    line-height: 50px;
    color: $primary;
    font-weight: 900;
    margin-bottom: 7px;

    @include respond-to(sm){
      display: flex;
      flex-direction: column;
    }

    > span {
      margin-left: -10px;
    }

    span {
      color: black;
      font-size: 17px;
    }
  }

}