.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000000;
  left: 0;
  top: -999999px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.2s ease-in;

  &.show {
    top: 0;
    background: #cbc7fb6b;
    .modal__content {
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal__content {
    width: 400px;
    max-width: 100%;
    max-height: 90%;
    background: white;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    border-radius: 7px;
    font-size: 15px;
    line-height: 19px;
  }

  .modal__header, .modal__body {
    padding: 40px;
  }

  .modal__header {
    font-size: 27px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .modal__body{
    padding-top: 10px;
  }

  [data-action="close"] {
    color: #35B2F2;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 55px;
    right: 13px;
    top: 13px;

    &:hover {
      color: red;
    }
  }
  .btn{
    font-size: 18px;
  }
}