.trainer-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 165px;
    height: 165px;
    border: 5px solid white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
  }

  &__name {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__description{
    font-size: 15px;
  }
}