@import "../variables";

.btn {
  display: inline-block;
  border-radius: 999px;
  font-weight: 700;
  font-size: 18pt;
  line-height: 1;
  padding: 15px 30px;
  border: 1px solid transparent;
  //box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);

  &.btn_light {
    color: $primary;
    background: white;

    &:hover {
      background: none;
      border: 1px solid white;
      color: white;
    }

    &.btn_outline {
      background: none;
      color: white;
      border: 1px solid white;

      &:hover {
        background: white;
        color: $primary;
      }
    }
  }

  &.btn_primary {
    background: #f13536;
    color: white;
    &:hover {
      background: white;
      color: $primary;
    }

    &.btn_outline {
      background: none;
      color: $primary;
      border: 1px solid $primary;

      &:hover {
        background: $primary;
        color: white;
      }
    }
  }

  .fa-chevron-right {
    margin-right: -15px;
    margin-left: 25px;
  }

  &.btn_sm {
    font-size: 12px;
    padding: 7px 30px;
  }
}

.btn-expand {
  font-weight: 800;
  color: #006ee4;
  font-size: 22px;
  border: none;
  background: none;
  position: relative;
  margin-top: 15px;
  margin-bottom: 33px;
  outline: none !important;

  &:after {
    content: "";
    background: url(../images/expand-arrow.svg) center no-repeat;
    width: 28px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    margin: auto;
  }
}