@import "../variables";

.top-block {
  padding: 15px 15px 0 15px;
  background: linear-gradient(to bottom, #056ee0, #9BC5E5);
  border-radius: 45px 45px 0 0;
  color: white;
  border-bottom: 1px solid white;
}

.clubs-block {
  background: linear-gradient(to bottom, #9bc5e5, #d1d3d3 50px);
  padding: 40px 90px;

  @include respond-to(sm) {
    padding: 15px;
  }

  .clubs-block__tabs {
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;

    @include respond-to(xl) {
      font-size: 36px;
      line-height: 40px;
    }

    @include respond-to(lg) {
      font-size: 24px;
      line-height: 28px;
    }

    .nav-item {
      width: 100%;
      position: relative;
    }

    .nav-link {
      color: white;
      position: relative;

      &.active {
        color: #f13536;

        &:after {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/tab-arrow.svg) center no-repeat;
          position: absolute;
          right: -5px;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 5;
        }

        @include respond-to(lg) {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 30px;
    border: 2px solid white;
    border-radius: 20px;
  }

  .clubs-item {
    .clubs-item__img-container {
      display: flex;

      @include respond-to(sm) {
        flex-direction: column;
      }
    }

    .clubs-item__img {
      border-radius: 7px;
      height: 200px;
      background-size: cover;
      background-position: center;

      @include respond-to(xl) {
        height: 150px;
      }

      &:nth-of-type(1) {
        width: 60%;
        margin-right: 15px;
      }

      &:nth-of-type(2) {
        width: 40%;
      }

      @include respond-to(sm) {
        &:nth-of-type(1) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px;
        }

        &:nth-of-type(2) {
          width: 100%;
        }
      }
    }
  }

}

.trainers-block {
  background: linear-gradient(to bottom, #d1d3d3, white);
  padding: 0 40px;

  .trainers-block__arrow {
    width: 30px;
    height: 15px;
    background: url('../images/arrow-left.svg') center no-repeat;
    border: none;
    outline: none;

    &_right {
      transform: rotate(180deg);
    }
  }

  .swiper-wrapper {
    margin-bottom: 30px;
  }

  &__swiper-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination {
      position: static;
      height: 16px;
      margin: 0 30px;
      display: flex;

      .swiper-pagination-bullet {
        background: white;
        border: 1px solid #006ee4;
        margin: 0 13px;
        width: 16px;
        height: 16px;
      }

      .swiper-pagination-bullet-active {
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          background: #006ee4;
          border-radius: 50%;
        }
      }
    }
  }
}

.prices-block {
  background: linear-gradient(to bottom, white, #D6D6D7);
  padding: 40px 25px 60px 40px;
}

.buy-block {
  background: $primary;
  border-radius: 15px;
  margin: 0 -15px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to(sm) {
    margin: 0;
    border-radius: 0;

    button {
      font-size: 16px;
      padding: 10px 15px;
    }
  }

  &__btn-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
    padding: 20px 50px;
    span {
      display: block;
      color: black;
      font-size: 18px;
    }
  }
}

.trainers-block-wrap, .prices-block-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  transform: translate3d(0, 0, 0);

  &.show {
    max-height: 2500px;
  }
}

.buy-block__btn-buy {
  font-weight: 900;
}

@include respond-to(sm) {
  .container {
    padding: 0;
  }
}