@import "../variables";

footer {
  background: linear-gradient(to bottom, #E4E4E5, #35B2F2);
  padding: 45px 70px;
  margin-bottom: 60px;
  border-radius: 0 0 45px 45px;

  a {
    color: black;
  }

  iframe{
    border-radius: 15px;
  }

  @include respond-to(md){
    padding: 15px;
    font-size: 14px;
  }
}