@import "../variables";

header {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    list-style: none;
    width: 100%;

    @include respond-to(lg) {
      align-items: flex-start;
      li {
        margin-bottom: 15px;
      }
    }
  }

  a {
    padding: 0 25px;
    color: black;
    &:hover {
      color: $primary;
      text-decoration: none;
    }

    @include respond-to(xl) {
      padding: 0 10px;
    }
  }
}