@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$base-font: 17px/22px Montserrat, sans-serif;

$h1-font: 800 56pt/64pt Montserrat, sans-serif;
$h1-font-sm: 800 36px/48px Montserrat, sans-serif;
$h1-margin-bottom: 20pt;

$h2-font: 700 48px/70px Montserrat, sans-serif;
$h2-font-sm: 700 18pt/22pt Montserrat, sans-serif;
$h2-margin-bottom: 24pt;

$h3-font: 700 36px/43px Montserrat, sans-serif;
$h3-font-sm: $h3-font;
$h3-margin-bottom: 24pt;

$h4-font: 900 25px/30px Montserrat, sans-serif;
$h4-font-sm: $h4-font;
$h4-margin-bottom: 16pt;

$h5-font: 700 18pt/24pt Montserrat, sans-serif;
$h5-font-sm: $h5-font;
$h5-margin-bottom: 16pt;

$primary: #f13536;

$theme-colors: (
        "primary": $primary,
);

$spacers: (
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10),
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1330px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1330px);

$fa-font-path: "../fonts";

@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Write the media query.
    @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}